@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/******* REVEAL ACTIONS *****/
.showing {
  animation: showing 1s ease;
}

.showing2 {
  animation: showing2 3s ease;
}

@keyframes showing {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes showing2 {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
/******* REVEAL ACTIONS *****/

/********** SIDE BAR ********/
.side-menu {
  width: 200px;
  height: 100vh;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(250px);
  transition: 1s;
}

.active {
  transition: 1s;
  transform: translate(10px);
  display: block;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeIcon:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

.sideBarNav {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
}

.hamburgerLinks,
.link {
  list-style-type: none;
  font-weight: 600;
  margin: 10px 0;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.hamburgerLinks:hover {
  background-color: grey;
}

/********** SIDE BAR ********/
